* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0,0,0,0.3);
}

header h1 {
    font-size: 28px;
    color: #00e6e6;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a:hover {
    color: #00e6e6;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: radial-gradient(circle, rgba(0,255,255,0.2), transparent);
}

.hero h2 {
    font-size: 60px;
    letter-spacing: 2px;
}

.hero p {
    margin-top: 10px;
    font-size: 20px;
    color: #b2dfdb;
}

/* POEM */
.featured {
    padding: 50px;
    text-align: center;
}

.poem {
    margin-top: 20px;
    font-style: italic;
    line-height: 1.8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
}

